@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
body{
    background-image: url("/Chapters.htmls/kite/images/bgblack.png");
    background-size: 1540px;
    overflow: hidden;
}
.video{
transform: scale(0.68);
margin-top: -220px;
margin-left: -160px;
}
h1{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(251, 255, 0);
    margin-left: 420px;
    font-size: 50px;
    display: inline;
    margin-top: 30px;
    display: table;

}
.right{
    transform: scale(0.7);
    margin-top: -95px;
    margin-left: 1980px;
    }

.left{
transform: scale(0.7);
margin-top: -60px;
margin-left: -420px;
}