@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
body{
background-image: url("/Chapters.htmls/kite/images/bgblack.png");
background-size: 1540px;
overflow: hidden;
}
h1{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(251, 255, 0);
    font-size: 50px;
    margin-left: 600px;
    margin-top: 30px; 
}
.pdf{
margin-left: 30px;
margin-top: -20px;
}
.left{
transform:scale(0.6);
margin-top: -108px;
margin-left: -340px;
}

.right{
transform:scale(0.6);
margin-top: -96px;
margin-right: -5720px;
}