@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
body{
background-image: url("/Chapters.htmls/kite/images/bgblack.png");
background-size: 1540px;
overflow: hidden;
}
.heading{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(251, 255, 0);
    font-size: 50px;
    margin-left: 60px;
    margin-top: -40px;
}
.para1{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(0, 183, 255);
    font-size: 30px;
    margin-top: -60px;
    margin-left: 40px;
}
.para2{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(255, 107, 235); 
    font-size: 30px;
    margin-top: 10px;
    margin-left: 40px;
}
.para3{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(117, 255, 104); 
    font-size: 30px;
    margin-top: 10px;
    margin-left: 40px;
}
.para4{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(248, 139, 66);
    font-size: 30px;
    margin-top: 10px;
    margin-left: 40px;
}

.right{
    transform: scale(0.6);
    margin-top: -96px;
    margin-left: 720px;
    }

.left{
transform: scale(0.6);
margin-top: -1125px;
margin-left: 650px;
}
.fatmanwithsquirell{
transform: scale(0.27);
margin-top: -1720px;
margin-left: 550px;
}