@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
body{
background-image: url("/Chapters.htmls/kite/images/bgblack.png");
background-size: 1540px;
overflow: hidden;
}
h1{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(251, 255, 0);
    margin-left: 60px;
    margin-top: 10px;
    font-size:120px;
}
.para1{
    font-family: "Cabin Sketch", fantasy;
    color: #00b7ff;
    font-size: 27px;
    margin-left: 40px; 
    margin-top: -120px; 
}
.para2{
    font-family: "Cabin Sketch", fantasy;
    color: #ff6beb; 
    font-size: 27px; 
    margin-left: 40px;
    margin-top: -10px;   
}
.left{
transform: scale(0.55);
margin-top: -26px;
margin-left: -400px;
}
.right{
transform: scale(0.55);
margin-top: -95px;
margin-left: -340px;
}
.oldman{
transform: scale(0.27);
margin-top: -1430px;
margin-left: 500px;
}